header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem 2rem;
}

.toggle-title {
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: 0.9rem;
  text-transform: uppercase;
  align-self: center;
}

.toggle-numbers {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.toggle {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 0.3rem;
  width: 4.5rem;
  border-radius: 15px;
}

.toggle input[type="radio"] {
  width: 1.25rem;
  opacity: 0;
}

.key-toggle {
  position: absolute;
  display: block;
  top: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  transition: translate 0.5s ease-in;
}