@mixin theme($theme-color, $is-first-theme, $is-second-theme: false, $is-third-theme: false) {
  // Body
  body {
    background-color: map-get($theme-color, "main-background");
    // Change font's color depending on $is-second-theme or $is-third-theme
    @if $is-third-theme {
      color: map-get($theme-color, "default-three");
    } @else if $is-second-theme {
      color: map-get($theme-color, "default-one");
    } @else {
      color: map-get($theme-color, "default-two");
    }
  }
  // Toggle
  .toggle {
    background-color: map-get($theme-color, "toggle-keypad-background");

    .key-toggle {
      background-color: map-get($theme-color, "key-toggle-background");
    }
  }
  // Screen
  .screen {
    background-color: map-get($theme-color, "screen-background");
    color: map-get($theme-color, "default-two");
  }
  // Keypad
  .keypad {
    background-color: map-get($theme-color, "toggle-keypad-background");
    // Keys
    .key {
      background-color: map-get($theme-color, "key-background-two");
      border: 5px solid map-get($theme-color, "key-shadow-third");

      @if $is-first-theme {
        color: map-get($theme-color, "default-one");
      }

      &.del-key, .reset-key {
        background-color: map-get($theme-color, "key-background");
        color: map-get($theme-color, "default-two");
        border: 5px solid map-get($theme-color, "key-shadow");
      }

      &.equal-key {
        background-color: map-get($theme-color, "key-toggle-background");
        border: 5px solid map-get($theme-color, "key-shadow-two");

        @if $is-third-theme {
          color: map-get($theme-color, "default-one");
        } @else {
          color: map-get($theme-color, "default-two");
        }
      }
    }
  }
}