// Screen
.screen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  margin: 1rem 0 1rem 0;
  height: 5rem;
  border-radius: 10px;
  font-size: 2rem;
}

// Keypad
.keypad {
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.keys-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 3.5rem);
  grid-template-rows: repeat(5, 3.5rem);
  grid-template-areas:
          "k1 k2 k3 k4"
          "k5 k6 k7 k8"
          "k9 k10 k11 k12"
          "k13 k14 k15 k16"
          "k17 k17 k18 k18";
  gap: 1rem;
}

.key {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 6px;
  font-size: 2rem;

  &:focus {
    filter: brightness(125%);
  }
}

.del-key, .reset-key, .equal-key {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.reset-key, .equal-key {
  width: 100%;
}
// Class' names List
$classes: k1 k2 k3 k4 k5 k6 k7 k8 k9 k10 k11 k12 k13 k14 k15 k16 k17 k18;
// It adds each class with respectively grid area
@each $class in $classes {
  .#{$class} {
    grid-area: $class;
  }
}

@media screen and (min-width: 768px) {

  // Screen
  .screen {
    height: 6rem;
  }

  // Keypad
  .keys-container {
    grid-template-columns: repeat(4, 4.5rem);
    gap: 1.2rem;
  }

  .key:not(.reset-key, .equal-key) {
    width: 4.5rem;
  }
}

@media screen and (min-width: 1024px) {

  .key-toggle:hover {
    filter: brightness(125%);
  }

  .keys-container {
    grid-template-columns: repeat(4, 5.5rem);
    gap: 1.4rem;
  }

  .key:not(.reset-key, .equal-key) {
    width: 5.5rem;
    height: 3.5rem;
  }

  .key:hover {
    filter: brightness(125%);
  }
}